<div id="navigation-bar">
  <ul>
    <li><%= link_to "Pages", pages_path %></li>
    <li><%= link_to "Posts", posts_path %></li>
    <li><%= link_to "Blogroll", "pages/blogroll" %></li>
  </ul>
</div>